/* .navbar-main{
    width: 200px;
    height: 100vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-info{
 width: 95%;
 height: 100%;
}
.dashboard-heading{
    font-size: 25px;
    font-weight: 500;

}
.container-main{
    width:90%;
    margin: auto;
}
.heading{
    font-size: 25px;
    font-weight: 600;
} */